body{
    background-color: #2E8B57;
}

.form-body, .form{
    margin:0 auto;
    width: 600px;   
    height: 450px; 
    background-color: #e6ffe6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form{
    border: 1px solid black;
    text-align: center;
}

.bandeira{
    max-width: 300px;
    max-height: 200px;
}

.center{    
    margin: 30px auto;
}

.left {
    width: 50%;
    float: left;
}

.right {
    float: right;
    width: 40%;
    padding-left: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    width: 100%;
}
